body {
  font-family: 'Oswald', sans-serif;
}

.body {
  padding-top: 20px;
}

.backBtn {
  max-width: 100%;
}

#brand {
  color: white;
}

.ticker {
  padding-top: 20px;
  text-align: center;
}

/*center clock*/
.ticker div {
  border: 0px !important;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.ticker h1 {
  padding-bottom: 20px;
}

/*center image and reduce max width*/
.newsCard img {
    max-width:90%;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.newsCard {
  background-color: lightgrey;
  border-radius: 5px;
  max-width: 100%;
  height: 375px;
  margin-bottom: 25px;
  margin-top: 15px;
  overflow: auto;
  text-align: center;
}

.newsCard p {
  color: black;
  height: 100px;
}

.newsCard img {
  color: black;
}

.fullArticle {
  background-color: lightgrey;
  border-radius: 5px;
  max-width: 100%;
  height: 800px;
  margin-bottom: 25px;
  margin-top: 15px;
  overflow: auto;
  text-align: center;
  padding-top: 10px;
}

.fullArticle img {
    max-width:90%;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

/*center search box*/
.search-input {
  text-align: center;
  width: 350px;
  margin: auto;
  padding-bottom: 15px;
}

.search-input  input {
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    color: white;
    width: 1210px;
}

.marquee  {
  background-color: #373a3c;
  border-radius: 15px;
  height: 25px;
}

/* Make it move */
@keyframes marquee {
    100%   { transform: translate(0, 0); }
    0% { transform: translate(-100%, 0); }
}

.navbar {box-shadow:0px 0px 15px #000;}

.navbar-nav.nav-justified > li{
    float:none;
}

.nav {
  text-align: center;
}

.nav-item {
  float: none !important;
  margin-left: 0px !important;
  font-size: x-large;
}

#mostPopularLink {
  border-bottom-style: solid !important;
}

#guardianLink {
  border-bottom-style: solid !important;
}

.saved .newsCard button {
  visibility: hidden;
}
